:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --blanco: #ffffff;
    --negro: #000000;
    --grisClaro: #e1e1e1;
}

html {
    box-sizing: border-box;
    font-size: 62.5; /* 1 rem = 10 px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.2rem;
    line-height: 2;
}

/*Globales*/

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/*Utilidades*/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/*Header*/
.webp .header {
    background-image:url(../img/banner.webp);
}
.no-webp .header {
    background-image:url(../img/banner.jpg);
}
.header {
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /*se centra vertical y horizontal*/
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 8rem;
    }
}

.barra{
    padding: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--blanco);
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlaces {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

/*contenido o main*/
@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--grisClaro);
    margin-bottom: 2rem;
}

.entrada:last-of-type, 
.uidget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--negro);
}

.boton--segundario {
    background-color: var(--primario);
    font-size: 1rem;
}

.cursos {
    list-style: none;
}

.uidget-curso {
    border-bottom: 1px solid var(--grisClaro);
    margin-bottom: 2rem;
}

.uidget-curso__label,
.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.uidget-curso__info,
.curso__info {
    font-weight: normal;
}

.uidget-curso__label, 
.uidget-curso__info,
.curso__label,
.curso__info {
    font-size: 2rem;
}

.footer {
    background-color: var(--negro);
    padding-bottom: 2rem 0;
    margin-top: 3rem;
}

/** sobre nosotros **/
@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.curso {
    padding: 3rem;
    border-bottom: 1px, solid var(--grisClaro);
}

.curso:last-of-type {
    border: none;
}

@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

/** contacto **/
.contacto-bg {
    background-image:url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
    border: 1px solid var(--grisClaro);
}
.campo__field--textarea {
    height: 20rem;
}